-- Example 0
3
apple
orange
strawberry
4
strawberry
orange
grapefruit
watermelon

136
-- Example 1
1
apple
4
strawberry
orange
grapefruit
watermelon

0
-- Example 2
2
orange
orange
4
strawberry
orange
grapefruit
watermelon

36
-- Example 3
10
lidi
o
lidi
gnbewjzb
kten
ebnelff
gptsvqx
rkauxq
rkauxq
kfkcdn
10
nava
wk
kfkcdn
lidi
gptsvqx
ebnelff
hgsppdezet
ulf
rkauxq
wcicx

186
