-- Example 0
3
kenta
kentaro
ken
2

3
-- Example 1
4
hideo
hideto
hideki
hide
2

6
-- Example 2
7
aya
saku
emi
ayane
sakura
emika
sakurako
3

24
-- Example 3
3
taro
jiro
hanako
2

0
-- Example 4
3
alice
bob
charlie
1

6
-- Example 5
20
ryota
ryohei
ryotaro
ryo
ryoga
ryoma
ryoko
ryosuke
ciel
lun
ryuta
ryuji
ryuma
ryujiro
ryusuke
ryutaro
ryu
ryuhei
ryuichi
evima
3

276818566
